/* General Styles */
@font-face {
  font-family: 'BBVA Light';
  src: url('font/bbvaweb-light.eot');
  src: url('font/bbvaweb-light.woff') format('woff'), 
       url('font/bbvaweb-light.ttf')  format('truetype'),
       url('font/bbvaweb-light.svg#BBVA Web Light') format('svg');
}

@font-face {
  font-family: 'BBVA Light';
  src: url('font/bbvaweb-medium.eot');
  src: url('font/bbvaweb-medium.woff') format('woff'), 
       url('font/bbvaweb-medium.ttf')  format('truetype'),
       url('font/bbvaweb-medium.svg#BBVA Web Light') format('svg');
  font-weight: bold;
}

body {
  padding: 0;
  background-color: #000;
  color:#FFF;
  font-family: 'BBVA Light', Helvetica,Arial,sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

h1{
  font-size: 28px;
  font-weight: bold;
}

h2{
  font-size: 28px;
  font-weight:normal;
}

h3{
  font-size: 20px;
  font-weight:bold;
  margin-top: 14px;
}

h4{
  font-size: 20px;
  font-weight:normal;
  margin-top: 15px
}


/* Custom styles */

.col-gauges .row {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 28px;
    text-align: center;
}

.ponencia-container{
    background-color: #fff;
    color: #000;
    font-size: 9px;
    height: 83px;
    margin-right: 14px;
    margin-top: -7px;
    padding: 4px;
}

.metric-tag:first-of-type {
    margin-left: 0;
}
.metric-tag {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    margin-left: 12px;
    text-align: left;
    text-transform: uppercase;
    width: 67px;
}

.metric-value-high {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  margin-right: -4px;
}

.metric-value-low{
  font-size: 0.7em;
}

.row.free-metrics{
  margin-top: 28px;
}


img.apihourlogo{
  margin-left: 0px;
  margin-top: 10px;
  width: 50%;
}

.group-icon{
  color: #9C9C9B;
  color: #FFF;
  margin-top: 23px;
  font-size: 1.3em;
  margin-top: 1.7em;
}
.row.constantes-title{
  margin-top: 15px;
  margin-bottom: 28px;
}
.row.monitor-category{
  border-left: 6px solid;
  border-right: 6px solid;
  padding-top: 10px;
}
.row.talks{
  height: 125px;
  border-left: 6px solid;
  border-right: 6px solid;
  border-color: #3E3E3D;
}

.row.metrics{
  height: 153px;
  border-left: 6px solid;
  border-right: 6px solid;
  border-color: #3E3E3D;
  padding-top: 10px;
  font-size: 9px;
}
.row.metrics-list{
  margin-top: 9px;
  margin-bottom: 5px;
}
.metric-sm{
  font-size: 7px;
}
span.metrics-title{
  font-size: 12px;
  line-height: 1;
}
.lecture-div {
    font-size: 9px;
    position: absolute;
    text-align: center;
    width: 30px;
}
.sep {
  background-color: rgba(255, 255, 255, 0.12);
  height: 426px;
  margin-left: 50%;
  margin-top: -50px;
  width: 2px;
  z-index: 1;
}
.sep > div{
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  bottom: -10px;
  height: 10px;
  left: 11px;
  position: absolute;
  width: 10px;
}

.lecture-time {
    display: inline-block;
    margin-bottom: 13px;
}
.lecture-title {
    display: block;
    font-size: 0.8em;
    line-height: 8px;
    margin-top: 6px;
}



/* Custom Bootstrap styles*/
.list-group-item{
	background-color: transparent;
	border:0px;
  padding: 0px;
}
.list-group{
  margin-bottom: 0px;
}


/* SVG Styles */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;

}

.line.yellow{
	stroke: #FED888;
}
.line.blue{
	stroke: #009FE8;
}
.line.magenta{
	stroke: #C8175E;
}
.line.white{
	stroke: #FFFFFF;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
