
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li ng-repeat='category in monitorize' class="list-group-item">
				<div class="row">
					<div class="col-xs-2">
						{{ category.value }}
					</div>
					
					<div class="col-xs-10">
						<sparkline
							data="category"
							>
						</sparkline>
					</div>
					
				</div>
				
			</li>
	  	</ul>

	  	<div>
	  		Cafeteria: {{ mqttCafeteria }}
	  	</div>

	  	<div style="color:#000;">
		  	<input type="text" ng-model="randRow"/>
		  	<input type="text" ng-model="randLoc"/>
		  	<input type="button" ng-click="addRandomData()"  value="Random!" />
		  </div>

	</div>
  
</div>
